@import '../../../app/styles/colors';

form {
    display: grid;
    justify-items: center;
    padding-top: 44px;
    padding-left: 50px;

    .header {
        margin-bottom: 79px;
    }

    .formInput {
        margin-bottom: 25px;
    }

    .formButton {
        margin-top: 22px;
        margin-bottom: 72px;

        width: 250px;
        min-height: 60px !important;
        padding: 0 !important;

        font-size: 20px;
        font-family: "Montserrat";

        background-color: $bg-widgets;
    }

    p {
        font-family: Montserrat;
        font-weight: 600;
    }

    #first {
        font-size: 20px;
        
    }

    #second, #second strong {
        font-size: 24px;
    }

    #second strong{
        font-weight: 800;
        
    }

    div {
        img {
            padding-top: 22px;
            padding-bottom: 35px;
            //shadows//
        }
    }
}