@import '../../../../app/styles/colors';

input.inputStyle {
  max-width: 420px;
  min-height: 45px; 

  width: 75%;



  background-color: $bg-widgets;
  border-radius: 16px;
  border: none;
  outline: none;

  padding-left: 18px;
  margin-top: 25px;

  font-family: "Montserrat", sans-serif; /*FIX FONT ERROR*/
  font-size: 17px;
  font-weight: 600;
  color: $soft-white;
  line-height: 20px;
}

label#labelForInput {
  display: grid;
  width: 100%;
  justify-items: center;

  font-size: 20px;
  font-weight: 600;
  line-height: 24.38px;
  text-align: center;
  color: $soft-white;
}