#background {
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0;
    z-index: -2;
    overflow: hidden;

    .svg-element {
        // margin: 0;
        position: absolute;
        z-index: 0;
    }

    #Circle1 {
        top: -9%;
        left: -4%;
    }

    #Circle2 {
        bottom: -23%;
        left: 8%;
    }

    #Circle3 {
        bottom: -25%;
        left: -18%;
    }

    #text-bg {
        height: 100%;
        z-index: -1;
        right: 1%;
        //margin-right: -10px;
    }

    #main {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        form {
            // justify-self: flex-start;
            //min-width: ;
            min-width: 41%;
            height: auto;
            
            margin-top: 7.3%;
            margin-left: 3.7%;

        }
    }
}