@import '../../../../app/styles/colors';

div#forLogos{
    display: flex;
    gap: 30px;
    min-width: 349px;
    justify-content: center;
}

img.logosSVG{
    width: 40px;
    height: 40px;
    color: $soft-white;
    border: none;

}

.shadow {
    -webkit-filter: drop-shadow( 0px 3px 4px rgba(0, 0, 0, .7));
    filter: drop-shadow( 0px 3px 4px rgba(0, 0, 0, .7));
  }